
<%- include('header') -%>

<h1>Home</h1>

<div class="container">
  <form class="wordForm" action="index.html" method="post">
    <input type="text" name="noun" value="">
    <button type="submit" name="button">Submit</button>
  </form>
  <form class="wordForm" action="index.html" method="post">
    <input type="text" name="verb" value="">
    <button type="submit" name="button">Submit</button>
  </form>
  <form class="wordForm" action="index.html" method="post">
    <input type="text" name="adjective" value="">
    <button type="submit" name="button">Submit</button>
  </form>
  <form class="wordForm" action="index.html" method="post">
    <input type="text" name="other" value="">
    <button type="submit" name="button">Submit</button>
  </form>
  </div>



<%- include('footer') -%>
