<%- include('header') -%>

<div class="landingMainDiv">
  <div class="landingLogo">
    <img src="wordBarnLogo.png" alt="Word-Barn-Logo">
  </div>

  <div class="blurb">
    <div>
      <p class="tagline">
        Get fluent faster!
        </p>
    </div>
    <div>
      <p class="subTagline">
        Build your own vocab database with Word Bank
        </p>
    </div>
  </div>

  <div class="landingButtons">
    <a href="/login" class="btn btn-primary btn-lg" type="button" name="button">Login</a>
    <a href="/register" class="btn btn-primary btn-lg" type="button" name="button">Register</a>
  </div>
</div>


<%- include('footer') -%>
