<%- include('header') -%>
<%- include('navbar') -%>

<div class="mainDiv">


  <div class="block3">
      <form class="btn-group btn-group-sm navForm" role="group">
        <a href="/nouns" class="navbtn btn btn-secondary" type="button">Nouns</a>
        <a href="/verbs" class="navbtn btn btn-secondary" type="button">Verbs</a>
        <a href="/adjectives" class="navbtn btn btn-secondary" type="button">Adj/Adv</a>
        <a href="/others" class="navbtn btn btn-secondary" type="button">Others</a>
      </form>
  </div>


</div>



<%- include('footer') -%>
