
<nav class="navbar">
  <form class="navForm">
    <a href="/home" class="navbtn btn btn-outline-primary" type="button">Home</a>
    <a href="/nouns" class="navbtn btn btn-outline-primary" type="button">Nouns</a>
    <a href="/verbs" class="navbtn btn btn-outline-primary" type="button">Verbs</a>
    <a href="/adjectives" class="navbtn btn btn-outline-primary" type="button">Adjectives</a>
    <a href="/others" class="navbtn btn btn-outline-primary" type="button">Others</a>
    <a href="/" class="signoutbtn navbtn btn btn-outline-primary" type="button">Sign Out</a>
  </form>
</nav>
