
<nav class="navbar">
  <form class="navTop">
    <img id="logo2" src="wordBarnLogo2.png" alt="Word-Barn-Logo">
    <a href="/home" class="navbtn btn btn-outline-secondary" type="button">Home</a>
    <a href="/mywords" class="navbtn btn btn-outline-secondary" type="button">My Words</a>
    <p class="loggedInMsg"> <%= currentUser %> </p>
    <a href="/logout" class="signoutbtn navbtn btn btn-outline-secondary" type="button">Sign Out</a>
  </form>
</nav>
