html, body {
  background-color:  hsl(120, 100%, 97%);
  height: 100%;
  min-height: 100%;
  margin: 1.5rem !important;
  font-family: sans-serif;
}

body {
    opacity: 1;
    transition: 5s opacity;
}
body.fade-out {
    opacity: 0;
    transition: none;
}

h1 {
  font-size: 4rem;
  text-align: center;
  margin-top: 5rem;
}

p {
  font-size: 1.2rem;
}

/* logo font = Monda */
#logo {
  height: 30rem;
}

#logo2 {
  position:absolute;
  height: 3rem;
}

.tagline {
  font-size: 5rem;
}

.subTagline {
  font-size: 3rem;
}

nav {
  border-bottom: solid black 2px;
}

.fas {
  height: 2rem;
}
.userName {
  margin-left: 20px;
}

.navForm {
  width: 100%;
  text-align: center;
}

a {
    color: black;
    text-decoration:none;
}


.btn-group {
  padding-left: 12px;
}

.loggedInMsg {
  display: inline;
}

.mainDiv {
  padding: 12px;
  margin: 0;
}


.counter
{
    background-color: #eaecf0;
    text-align: center;
}
.employees
{
    margin-top: 70px;
    margin-bottom: 70px;
}
.counter-count
{
    font-size: 18px;
    background-color: #00b3e7;
    border-radius: 50%;
    position: relative;
    color: #ffffff;
    text-align: center;
    line-height: 92px;
    width: 92px;
    height: 92px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: inline-block;
}

.employee-p,.customer-p,.order-p,.design-p
{
    font-size: 24px;
    color: #000000;
    line-height: 34px;
}


.landingButtons {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-lg {
  width: 120px;
  margin: 1rem;
}

.form-signin {
  margin: auto;
  margin-top: 45%;
  width: 40%;
}

.form-register {
  margin: auto;
  margin-top: 45%;
  width: 40%;
}

.chartsDiv {
  height: 250px;
  margin-top: 1rem;
}

.chart1 {
  display: inline-block;
  width: 40%;
  height: 250px;
  position: relative;
}

h4 {
  margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.chart2 {
 width: 50%;
 float: right;
}

    .infoText{
      display: inline-block;
      width: 40%;
      justify-content: start;
    }

    .inputs {
      float:right;
      display: inline-block;
      width: 55%;
    }

    .form-inline {
      float: right;
      margin-bottom: 1rem;
    }

    .wordForm {
      text-align: right;
      margin-right: 0.5rem;
    }


.block1 {
  width: 100%;
  display: inline;
}

.block2 {
  display: inline;
}

.block3 {
  float: right;
  display: inline-block;
}

.filterP {
  display: inline-block;
  margin-right: 10px;
}

.col1 {
  width: 25%;
}

.frequencyBtn {
  margin-left: 1rem;

  padding: 1px;
}

th {
  vertical-align: middle;
}

.clear {
  margin-left: 20px;
}

.trafficLightForm {
  display: inline-block;
}

.statusBtn {
  border-radius: 50%;
}

.red {
  background-color: red;
}
.yellow {
  background-color: yellow;
}
.green {
  background-color: green;
}
